{% extends "main.html" %}


{% block content %}


 <!-- Header Section -->
    <div class="container-fluid bg-primary py-5 text-white">
        <div class="row pt-5">
            <div class="col-12 col-lg-10">
                <h1 class="display-5 fw-bold ms-0 ps-0 ms-md-5 ps-md-5 pt-3">Account</h1>
            </div>
        </div>
    </div>
<div class="container-fluid mt-5 p-2">
        <!-- multiple bid items should iterate over this block of code -->

        <div class="row mx-0 mx-md-5 p-2 ">
            <div class="auction-photo col-5 border col-md-2 text-center p-3 auction border border-outline-1">
                <img src=" {{profile.profile_img.url}}" alt="auc1" class="img-fluid">
            </div>

            <div class="col-12 col-md-8 border p-3 auction border border-outline-1">
                <div class="bid-control bg-light pt-3 px-3">
                    <p class="fw-bold">NAME: <span class="bidding-price text-danger"> {{profile.full_name}}</span></p>
                    <p class="fw-bold">EMAIL: <span class="bidding-price text-danger"> {{profile.email}}</span></p>
                    <p class="fw-bold">USERNAME: <span class="bidding-price text-danger"> {{profile.username}}</span></p>
                    <p class="fw-bold">LOCATION: <span class="bidding-price text-danger"> {{profile.location}}</span></p>
                    <p class="fw-bold">ABOUT: <span class="bidding-price text-danger"> {{profile.about}}</span></p>
                </div>
                <div class="text-center text-md-start bg-light pt-4 px-5">
                    <button type="submit" class="btn btn-success mb-3 px-3"><a href="{% url 'edit_account' %}">EDIT</a></button>
                    <button type="submit" class="btn btn-danger mb-3 px-3"><a href="{% url 'logout' %}">LOGOUT</a></button>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid">
      <div class="auction-action d-flex align-items-center justify-content-between">
        <button type="submit" class="btn btn-success mb-3 px-3"><a href="{% url 'add_product' %}"><i class="im im-plus"></i> ADD PRODUCT</a></button>
      </div>
      <div class="row mx-5 mb-5 p-3 bg-black">

          {% for product in products %}
        <div class="col-12 col-md-6 col-lg-4 p-3 auction-card  text-center ">
          <div class=" p-3 auction border border-outline-1 ">
            <div class="auction-photo"><a href="{% url 'product' product.id %}">
                <img src="{{product.img.url}}" alt="auction-1" class="img-fluid"></a>
              <p class="fw-bold auction-time text-danger bg-white m-0 p-3 mx-auto">-124D :23H : 02M : 53S</p>
            </div>
            <div class="auction-details ">
              <h3 class="text-start fs-4"><a href="{% url 'product' product.id %}">{{product.title}}</a></h3>

              <div class="auctioner my-3 d-flex justify-content-between">
                <h4 class="text-danger">${{product.price}}</h4>
              </div>
              <div class="auction-action d-flex align-items-center justify-content-between">
                <button type="submit" class="btn btn-success mb-3 px-3"><a href="{% url 'edit_product' product.id %}"><i class="im im-edit"></i>EDIT</a></button>
                <button type="submit" class="btn btn-danger mb-3 px-3 "><a href="{% url 'delete_product' product.id %}"><i class="im im-x-mark-circle-o"></i>DELETE</a></button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>

{% endblock content %}