{% load static %}

<!-- Footer -->
    <div class="container-fluid footer bg-black text-white px-5">
      <div class="row mx-5 pt-5">
        <div class="col-12 col-md-6 col-lg-3 pt-5">

          <div class="access">
            <h4 class="mb-3">Join Newsletter</h4>
            <p class="mb-4">Subscribe our newsletter to get more free design course and resource.</p>
            <input type="text" placeholder="your email">
            <input type="submit" value="submit">

            <div class="socials mt-4">
              <a class="me-4" href=""><i class="fa fs-4 fa-solid fa-twitter"></i></a>
              <a class="me-4" href=""><i class="fa fs-4 fa-solid fa-facebook"></i></a>
              <a class="me-4" href=""><i class="fa fs-4 fa-solid fa-whatsapp"></i></a>
              <a class="me-4" href=""><i class="fa fs-4 fa-solid fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 pt-5">

          <div class="links">
            <h4>Important Links</h4>

            <div class="important-links d-grid gap-3">
              <a href="{% url 'products' %}">All Products</a>
              <a href="">How It Works</a>
              <a href="{% url 'profile' %}">My Account</a>
              <a href="">About Company</a>
              <a href="">Our News Feed</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 pt-5">

          <div class="help">
            <h4>Help & FAQs</h4>

            <div class="help-links d-grid gap-3">
              <a href="">Help Center</a>
              <a href="">Customer FAQs</a>
              <a href="">Terms and Conditions</a>
              <a href="">Security Information</a>
              <a href="">Mercahnt Add Policy</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 pt-5">

          <div class="about">
            <img src="/static/images/footer-logo2.png" alt="logo" class="img-fluid mb-3">

            <p>Add. 168/170, Avenue 01, Mirpur DOHS, Bangladesh.</p>
            <p>Phone: +029169852 / +88017600000</p>
            <p>Email: info.example@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="row border-top mt-5">
        <div class="col-12 d-flex justify-content-between align-items-center pt-3 px-3">
          <p>Copyright: Blao's Auction House &copy;2023</p>
          <p>We accept:
            <img src="/static/images/footer-pay1.png" alt="VISA" class="img-fluid mx-3">
            <img src="/static/images/footer-pay2.png" alt="BLU" class="img-fluid me-3">
            <img src="/static/images/footer-pay3.png" alt="VENMO" class="img-fluid me-3">
            <img src="/static/images/footer-pay4.png" alt="PayPal" class="img-fluid me-3">
            <img src="/static/images/footer-pay5.png" alt="MasterCard" class="img-fluid me-3"></p>
        </div>
      </div>
    </div>
