<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="./static/f2/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./static/f2/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./static/f2/favicon-16x16.png">
    <link rel="manifest" href="./static/f2/site.webmanifest">

    <title>Balo's Auction House</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light fixed-top fs-6">
      <div class="container-fluid mx-4  d-flex justify-content-space-evenly">
        <a class="navbar-brand me-auto" href="#"><img src="./assets/images/header-logo2.png" alt="logo" class="img-fluid"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

          <ul class="navbar-nav mx-auto">
            <li class="nav-item mx-2">
              <a class="nav-link active" href="#">Home</a>
            </li>
            
            <li class="nav-item mx-2">
              <!-- same as auction details -->
              <a class="nav-link" href="./all-auctions.html">Active Listings</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="./auction-detail.html">Watch List</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#">Create Listing</a>
            </li>
            <li class="nav-item dropdown mx-2">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Pages
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="./login.html">Login</a></li>
                <li><a class="dropdown-item" href="./signup.html">Signup</a></li>
                <li><a class="dropdown-item" href="#">404</a></li>
              </ul>
            </li>
          </ul>
          
          <div class="top-control d-flex text-danger">
            <a href="./dashboard.html">
              
              <button class="btn btn-md btn-danger my-3 mt-md-0">My Dashboard</button>
            </a>
          </div>

        </div>
      </div>
    </nav>

    <!-- Header Section -->
    <div class="container-fluid pt-5">
      <div class="row mx-5 my-4">
        <div class="col-12 col-md-12 col-lg-7 py-5 align-items-center">
          <p class="text-danger fw-bold">Welcome to the Auction House</p>
          <h1 class="display-3 fw-bold mb-3">Build, sell & collect digital items.</h1>
          <p class="mb-5">
            <small>
              Nulla facilisi. Maecenas tellus ut ligula interdum  convallis. Nullam dapibus on erat in dolor posuere, none hendrerit lectus ornare. Suspendisse sit amet turpina sagittis, ultrices dui et, aliquam urna.
            </small>

          </p>
          <button class="btn btn-lg btn-danger explore">Start Exploring</button>
          
          
        </div>

        <div class="col-12 col-md-12 col-lg-5 py-5 align-items-center">
          <img src="./static/images/chayka-boredapeclub.jpg" alt="Bored Ape" class="img-fluid">
        </div>
      </div>

    </div>


    <!-- Live Auction -->
    <div class="container-fluid">
      <div class="row mx-5">
        <div class="col-5">
          <h1 class="display-5 fw-bold">Live Auction</h1>
          <p>Explore on the world's best & largest Bidding marketplace with our beautiful Bidding products. We want to be a part of your smile, success and future growth.</p>
        </div>
        <div class="col-3 d-none d-lg-block"></div>
        <div class="col-3 align-items-center d-flex justify-content-end">
          <a href="./all-auctions.html">

            <button class="btn btn-lg px-5 btn-danger">View All</button>
          </a>
        </div>
      </div>

      <div class="row mx-5 mb-5 p-3">
        <!-- i think if you are gonna have multiple items, continous html blocks would be unhealthy, so you can use whater=ver function you have under your sleeves to replicate one column from  -->
        <!-- Here ...Start -->
        <div class="col-12 col-md-6 col-lg-4 p-3 auction-card  text-center">
          <div class=" p-3 auction border border-outline-1">
            <div class="auction-photo">
              <img src="./assets/images/live-auc1.png" alt="auction-1" class="img-fluid">
              <p class="fw-bold auction-time text-danger bg-white m-0 p-3 mx-auto">-124D :23H : 02M : 53S</p>
            </div>
            <div class="auction-details">
              <h3 class="text-start fs-4">Brand New royal Enfield 250 CC For special Sale</h3>

              <div class="auctioner my-3 d-flex justify-content-between">
                <div class="user d-flex align-items-center">
                  <img src="./assets/images/auction-authr1.png" alt="auction author" class="img-fluid me-3">
                  <p class="">By Sara Alexa</p>
                </div>
  
                <h4 class="text-danger">$6,000</h4>
              </div>
              <div class="auction-action d-flex align-items-center justify-content-between">
                
                <button class="btn btn-md btn-danger">Place a Bid</button>
  
                <div class="action-btns d-flex justify-content-between">
                  <i class="fa fa-2x text-secondary fa-solid fa-heart me-3"></i>
                  <i class="fa fa-2x  fa-solid fa-ellipsis-v"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- To Here ...Stop... then you can delete these from below... be sure to collapse the blocks to have a better view -->
        
        <div class="col-12 col-md-6 col-lg-4 p-3 auction-card  text-center">
          <div class=" p-3 auction border border-outline-1">
            <div class="auction-photo">
              <img src="./assets/images/live-auc2.png" alt="auction-2" class="img-fluid">
              <p class="fw-bold auction-time text-danger bg-white m-0 p-3 mx-auto">-124D :23H : 02M : 53S</p>
            </div>
            <div class="auction-details">
              <h3 class="text-start fs-4">Wedding wow Exclusive Cupple Ring (S2022)</h3>

              <div class="auctioner my-3 d-flex justify-content-between">
                <div class="user d-flex align-items-center">
                  <img src="./assets/images/auction-authr1.png" alt="auction author" class="img-fluid me-3">
                  <p class="">By Sara Alexa</p>
                </div>
  
                <h4 class="text-danger">$6,000</h4>
              </div>
              <div class="auction-action d-flex align-items-center justify-content-between">
                
                <button class="btn btn-md btn-danger">Place a Bid</button>
  
                <div class="action-btns d-flex justify-content-between">
                  <i class="fa fa-2x text-secondary fa-solid fa-heart me-3"></i>
                  <i class="fa fa-2x  fa-solid fa-ellipsis-v"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 p-3 auction-card  text-center">
          <div class=" p-3 auction border border-outline-1">
            <div class="auction-photo">
              <img src="./assets/images/live-auc3.png" alt="auction-3" class="img-fluid">
              <p class="fw-bold auction-time text-danger bg-white m-0 p-3 mx-auto">-124D :23H : 02M : 53S</p>
            </div>
            <div class="auction-details">
              <h3 class="text-start fs-4">Toyota AIGID A Class Hatchback Sale</h3>

              <div class="auctioner my-3 d-flex justify-content-between">
                <div class="user d-flex align-items-center">
                  <img src="./assets/images/auction-authr1.png" alt="auction author" class="img-fluid me-3">
                  <p class="">By Sara Alexa</p>
                </div>
  
                <h4 class="text-danger">$6,000</h4>
              </div>
              <div class="auction-action d-flex align-items-center justify-content-between">
                
                <button class="btn btn-md btn-danger">Place a Bid</button>
  
                <div class="action-btns d-flex justify-content-between">
                  <i class="fa fa-2x text-secondary fa-solid fa-heart me-3"></i>
                  <i class="fa fa-2x  fa-solid fa-ellipsis-v"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 p-3 auction-card  text-center">
          <div class=" p-3 auction border border-outline-1">
            <div class="auction-photo">
              <img src="./assets/images/live-auc4.png" alt="auction-4" class="img-fluid">
              <p class="fw-bold auction-time text-danger bg-white m-0 p-3 mx-auto">-124D :23H : 02M : 53S</p>
            </div>
            <div class="auction-details">
              <h3 class="text-start fs-4">Havit HV-G61 USB Black Double Game With Vibrat</h3>

              <div class="auctioner my-3 d-flex justify-content-between">
                <div class="user d-flex align-items-center">
                  <img src="./assets/images/auction-authr1.png" alt="auction author" class="img-fluid me-3">
                  <p class="">By Sara Alexa</p>
                </div>
  
                <h4 class="text-danger">$6,000</h4>
              </div>
              <div class="auction-action d-flex align-items-center justify-content-between">
                
                <button class="btn btn-md btn-danger">Place a Bid</button>
  
                <div class="action-btns d-flex justify-content-between">
                  <i class="fa fa-2x text-secondary fa-solid fa-heart me-3"></i>
                  <i class="fa fa-2x  fa-solid fa-ellipsis-v"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 p-3 auction-card  text-center">
          <div class=" p-3 auction border border-outline-1">
            <div class="auction-photo">
              <img src="./assets/images/live-auc5.png" alt="auction-5" class="img-fluid">
              <p class="fw-bold auction-time text-danger bg-white m-0 p-3 mx-auto">-124D :23H : 02M : 53S</p>
            </div>
            <div class="auction-details">
              <h3 class="text-start fs-4">Brand New Honda CBR 600 RR For Sale (2022)</h3>

              <div class="auctioner my-3 d-flex justify-content-between">
                <div class="user d-flex align-items-center">
                  <img src="./assets/images/auction-authr1.png" alt="auction author" class="img-fluid me-3">
                  <p class="">By Sara Alexa</p>
                </div>
  
                <h4 class="text-danger">$6,000</h4>
              </div>
              <div class="auction-action d-flex align-items-center justify-content-between">
                
                <button class="btn btn-md btn-danger">Place a Bid</button>
  
                <div class="action-btns d-flex justify-content-between">
                  <i class="fa fa-2x text-secondary fa-solid fa-heart me-3"></i>
                  <i class="fa fa-2x  fa-solid fa-ellipsis-v"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 p-3 auction-card  text-center">
          <div class=" p-3 auction border border-outline-1">
            <div class="auction-photo">
              <img src="./assets/images/live-auc6.png" alt="auction-6" class="img-fluid">
              <p class="fw-bold auction-time text-danger bg-white m-0 p-3 mx-auto">-124D :23H : 02M : 53S</p>
            </div>
            <div class="auction-details">
              <h3 class="text-start fs-4">IPhone 11 Pro Max All Variants Available For Sale</h3>

              <div class="auctioner my-3 d-flex justify-content-between">
                <div class="user d-flex align-items-center">
                  <img src="./assets/images/auction-authr1.png" alt="auction author" class="img-fluid me-3">
                  <p class="">By Sara Alexa</p>
                </div>
  
                <h4 class="text-danger">$6,000</h4>
              </div>
              <div class="auction-action d-flex align-items-center justify-content-between">
                
                <button class="btn btn-md btn-danger">Place a Bid</button>
  
                <div class="action-btns d-flex justify-content-between">
                  <i class="fa fa-2x text-secondary fa-solid fa-heart me-3"></i>
                  <i class="fa fa-2x  fa-solid fa-ellipsis-v"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- delete to here -->

      </div>
    </div>

    <!-- Testimonials -->
    <div class="container-fluid mb-5 pb-5">
      <div class="row text-center">
        <div class="col-2 d-none d-lg-block">
        </div>
        <div class="col-12 col-lg-8 my-5">
          <h1>What Clients Say</h1>
          <p class="mx-5 px-5">Explore on the world's best & largest Bidding marketplace with our beautiful Bidding products. We want to be a part of your smile, success and future growth.</p>
        </div>
        <div class="col-2 d-none d-lg-block">
        </div>
      </div>


      <div class="row mx-5 px-3">

        <div class="col-12 col-md-6 col-lg-4 p-2">
          <div class="testimonial p-3">
            <div class="img-group d-flex justify-content-between">
              <div class="test-desc d-grid">
                <img src="./assets/images/testi1.png" alt="testi1" class="testimonial-img img-fluid mb-3">
                <h5 class="mb-0">Johan Martin R</h5>
                <p><small>CEO Founder</small></p>
              </div>
              <img src="./assets/images/lg_icons/quote-red.svg" alt="quote" class="img-fluid align-self-start">
            </div>
            <div class="testimonial-text">
              <p><em>Maecenas vitae porttitor neque, ac porttitor nunc. Duis venenatis lacinia libero. Nam nec augue ut nunc vulputate tincidunt at suscipit nunc.</em></p>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 p-2">
          <div class="testimonial p-3">
            <div class="img-group d-flex justify-content-between">
              <div class="test-desc d-grid">
                <img src="./assets/images/testi1.png" alt="testi1" class="testimonial-img img-fluid mb-3">
                <h5 class="mb-0">Johan Martin R</h5>
                <p><small>CEO Founder</small></p>
              </div>
              <img src="./assets/images/lg_icons/quote-red.svg" alt="quote" class="img-fluid align-self-start">
            </div>
            <div class="testimonial-text">
              <p><em>Maecenas vitae porttitor neque, ac porttitor nunc. Duis venenatis lacinia libero. Nam nec augue ut nunc vulputate tincidunt at suscipit nunc.</em></p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 p-2">
          <div class="testimonial p-3">
            <div class="img-group d-flex justify-content-between">
              <div class="test-desc d-grid">
                <img src="./assets/images/testi1.png" alt="testi1" class="testimonial-img img-fluid mb-3">
                <h5 class="mb-0">Johan Martin R</h5>
                <p><small>CEO Founder</small></p>
              </div>
              <img src="./assets/images/lg_icons/quote-red.svg" alt="quote" class="img-fluid align-self-start">
            </div>
            <div class="testimonial-text">
              <p><em>Maecenas vitae porttitor neque, ac porttitor nunc. Duis venenatis lacinia libero. Nam nec augue ut nunc vulputate tincidunt at suscipit nunc.</em></p>
            </div>
          </div>
        </div>


      </div>
    </div>

    <!-- Upcoming Auction -->
    <div class="container-fluid pb-5">
      <div class="row mx-5 mb-5">
        <div class="col-12 col-lg-7">
          <h1>Upcoming Auctions</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum tempore possimus consectetur laboriosam excepturi eveniet non quaerat nulla voluptatem praesentium</p>
        </div>
      </div>

      <div class="row m-5">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="upcoming-item border border-outline-1">
            <div class="issue ">
              <!-- image should be here...not literally -->
              <img src="./assets/images/umcoming2.png" alt="upcoming 1" class="img-fluid w-100">

              <div class="upcoming-timer text-center bg-black text-white d-flex justify-content-center px-3 py-2">
                <div class="days col"><b>-125</b><br>Days</div>
                <div class="days col"><b>23</b><br>Hours</div>
                <div class="days col"><b>02</b><br>Mins</div>
                <div class="days col"><b>53</b><br>Secs</div>
              </div>

            </div>
            <div class="issue-desc px-2 pt-2">
              <div class="upcoming-author px-2 py-2">
                <!-- <img src="./assets/images/upcoming-author1.png" alt="upcoming author" class=" px-2 pb-1 pt-2 img-fluid"> -->
                <p class="fw-bold">Time Zone</p>
                <h4>Christian Louboutin Size 45</h4>
                <p class="">Bidding Price: <b class="text-danger fw-bold fs-4">$10.89</b> </p>
                <div class="auction-action d-flex align-items-center justify-content-between mb-4">
                
                  <button class="btn btn-md btn-danger">View Details</button>
    
                  <div class="action-btns d-flex justify-content-between">
                    <i class="fa fa-2x  fa-solid fa-ellipsis-v"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="upcoming-item border border-outline-1">
            <div class="issue ">
              <!-- image should be here...not literally -->
              <img src="./assets/images/umcoming3.png" alt="upcoming 1" class="img-fluid w-100">

              <div class="upcoming-timer text-center bg-black text-white d-flex justify-content-center px-3 py-2">
                <div class="days col"><b>-125</b><br>Days</div>
                <div class="days col"><b>23</b><br>Hours</div>
                <div class="days col"><b>02</b><br>Mins</div>
                <div class="days col"><b>53</b><br>Secs</div>
              </div>

            </div>
            <div class="issue-desc px-2 pt-2">
              <div class="upcoming-author px-2 py-2">
                <!-- <img src="./assets/images/upcoming-author1.png" alt="upcoming author" class=" px-2 pb-1 pt-2 img-fluid"> -->
                <p class="fw-bold">Time Zone</p>
                <h4>Yamaha Accelerate Two 600hp</h4>
                <p class="">Bidding Price: <b class="text-danger fw-bold fs-4">$200.99</b> </p>
                <div class="auction-action d-flex align-items-center justify-content-between mb-4">
                
                  <button class="btn btn-md btn-danger">View Details</button>
    
                  <div class="action-btns d-flex justify-content-between">
                    <i class="fa fa-2x  fa-solid fa-ellipsis-v"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="upcoming-item border border-outline-1">
            <div class="issue ">
              <!-- image should be here...not literally -->
              <img src="./assets/images/umcoming1.png" alt="upcoming 1" class="img-fluid w-100">

              <div class="upcoming-timer text-center bg-black text-white d-flex justify-content-center px-3 py-2">
                <div class="days col"><b>-125</b><br>Days</div>
                <div class="days col"><b>23</b><br>Hours</div>
                <div class="days col"><b>02</b><br>Mins</div>
                <div class="days col"><b>53</b><br>Secs</div>
              </div>

            </div>
            <div class="issue-desc px-2 pt-2">
              <div class="upcoming-author px-2 py-2">
                <!-- <img src="./assets/images/upcoming-author1.png" alt="upcoming author" class=" px-2 pb-1 pt-2 img-fluid"> -->
                <p class="fw-bold">Time Zone</p>
                <h4>Micheal Kors Watch m2016</h4>
                <p class="">Bidding Price: <b class="text-danger fw-bold fs-4">$15.99</b> </p>
                <div class="auction-action d-flex align-items-center justify-content-between mb-4">
                
                  <button class="btn btn-md btn-danger">View Details</button>
    
                  <div class="action-btns d-flex justify-content-between">
                    <i class="fa fa-2x  fa-solid fa-ellipsis-v"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

    <!-- Trustees -->
    <div class="container-fluid trustees pb-5 mb-5">
      <div class="row py-5">
        <div class="col-3 d-none d-md-block"></div>
        <div class="col-12 col-md-6 text-center">
          <h1>Trusted by 500+ Companies</h1>
          <p>Explore on the world's best & largest Bidding marketplace with our beautiful Bidding products. We want to be a part of your smile, success and future growth.</p>
        </div>
        <div class="col-3 d-none d-md-block"></div>
      </div>

      <div class="row companies text-center px-5 mx-5 pb-5">
        <div class="col-6 col-md-4 col-lg-2 mb-3 text-center">
          <img src="./assets/images/sponsor1.png" alt="" class="img-fluid">
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-3 text-center">
          <img src="./assets/images/sponsor2.png" alt="" class="img-fluid">
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-3 text-center">
          <img src="./assets/images/sponsor3.png" alt="" class="img-fluid">
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-3 text-center">
          <img src="./assets/images/sponsor4.png" alt="" class="img-fluid">
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-3 text-center">
          <img src="./assets/images/sponsor5.png" alt="" class="img-fluid">
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-3 text-center">
          <img src="./assets/images/sponsor6.png" alt="" class="img-fluid">
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-3 text-center">
          <img src="./assets/images/sponsor3.png" alt="" class="img-fluid">
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-3 text-center">
          <img src="./assets/images/sponsor8.png" alt="" class="img-fluid">
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-3 text-center">
          <img src="./assets/images/sponsor9.png" alt="" class="img-fluid">
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-3 text-center">
          <img src="./assets/images/sponsor6.png" alt="" class="img-fluid">
        </div>
        <div class="col-6 col-md-4 col-lg-2 mb-3 text-center">
          <img src="./assets/images/sponsor8.png" alt="" class="img-fluid">
        </div>
        
        <div class="col-6 col-md-4 col-lg-2 mb-3 text-center">
          <img src="./assets/images/sponsor2.png" alt="" class="img-fluid">
        </div>
        
      </div>


    </div>


    <!-- Footer -->
    <div class="container-fluid footer bg-black text-white px-5">
      <div class="row mx-5 pt-5">
        <div class="col-12 col-md-6 col-lg-3 pt-5">
          
          <div class="access">
            <h4 class="mb-3">Join Newsletter</h4>
            <p class="mb-4">Subscribe our newsletter to get more free design course and resource.</p>
            <input type="text" name="subscribe" class="form-control" placeholder="your email">
            <button class="btn btn-danger btn-md mt-3" type="submit">Submit</button>

            <div class="socials mt-4">
              <a class="me-4" href=""><i class="fa fs-4 fa-solid fa-twitter"></i></a>
              <a class="me-4" href=""><i class="fa fs-4 fa-solid fa-facebook"></i></a>
              <a class="me-4" href=""><i class="fa fs-4 fa-solid fa-whatsapp"></i></a>
              <a class="me-4" href=""><i class="fa fs-4 fa-solid fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 pt-5">

          <div class="links">
            <h4>Important Links</h4>

            <div class="important-links d-grid gap-3">
              <a href="">All Products</a>
              <a href="">How It Works</a>
              <a href="">My Account</a>
              <a href="">About Company</a>
              <a href="">Our News Feed</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 pt-5">

          <div class="help">
            <h4>Help & FAQs</h4>

            <div class="help-links d-grid gap-3">
              <a href="">Help Center</a>
              <a href="">Customer FAQs</a>
              <a href="">Terms and Conditions</a>
              <a href="">Security Information</a>
              <a href="">Mercahnt Add Policy</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 pt-5">

          <div class="about">
            <img src="./assets/images/footer-logo2.png" alt="logo" class="img-fluid mb-3">

            <p>Add. 168/170, Avenue 01, Mirpur DOHS, Bangladesh.</p>
            <p>Phone: +029169852 / +88017600000</p>
            <p>Email: info.example@gmail.com</p>
          </div>
        </div>
      </div>
      <div class="row border-top mt-5">
        <div class="col-12 d-flex justify-content-between align-items-center pt-3 px-3">
          <p>Copyright: Siegs Auction House &copy;2022</p>
          <p>We accept: 
            <img src="./assets/images/footer-pay1.png" alt="VISA" class="img-fluid mx-3">
            <img src="./assets/images/footer-pay2.png" alt="BLU" class="img-fluid me-3">
            <img src="./assets/images/footer-pay3.png" alt="VENMO" class="img-fluid me-3">
            <img src="./assets/images/footer-pay4.png" alt="PayPal" class="img-fluid me-3">
            <img src="./assets/images/footer-pay5.png" alt="MasterCard" class="img-fluid me-3"></p>
        </div>
      </div>
    </div>


    

    





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="./assets/js/script.js"></script>

    
  </body>
</html>
